.a-button {
    @include text-header('M');
    box-sizing: border-box;
    background: $clr-highlight-500;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border: 1px solid transparent;

    &.-secondary {
        background: none;
        color: $clr-highlight-500;
        border-color: $clr-highlight-500;
    }

    &:hover {
        text-decoration: none;
        background: $clr-highlight-300;
        color: white;
        border-color: transparent;
    }
}

@include size-small {
    .a-button {
        @include text-size('S');
    }
}