.a-headerText {
    @include text-sans-serif('XL');
    color: white;
    line-height: initial;
    margin: 0;

    &__bold {
        font-weight: bold;
    }
}

@include size-small {
    .a-headerText {
        @include text-size('L');
    }
}

@include size-medium {
    .a-headerText {
        @include text-size('L');
    }
}

@include size-large {
    .a-headerText {
        font-size: 28px; // HACK!
    }
}