.a-paragraph {
    @include text-paragraph('M');
    line-height: 1.42857143;
    color: #333333;
    max-width: 70ch;
    margin: 0 0 12px;
}

@include size-small {
    .a-paragraph {
        @include text-size('S');
    }
}