.a-headshot {
	display: table;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: url('../media/images/profile.jpg') center/contain no-repeat;
	margin: 5px;
	overflow: hidden;
	position: relative;
	float: left;

	&.-small {
		width: 60px;
		height: 60px;
	}
}