@import "tools/text-sizes";

$clr-highlight-100: hsl(248, 50%, 95%);
$clr-highlight-300: hsl(248, 50%, 75%);
$clr-highlight-500: hsl(248, 50%, 55%);
$clr-highlight-700: hsl(248, 50%, 35%);
$clr-highlight-900: hsl(248, 50%, 15%);

$body-gap: 55px;

$media-width-small: 560px;
$media-width-medium: 960px;
$media-width-large: 1920px;

@mixin size-small {
    @media (max-width: #{$media-width-small - 1px}) {
        @content;
    }
}

@mixin size-medium {
    @media (min-width: #{$media-width-small}) and (max-width: #{$media-width-medium - 1px}) {
        @content;
    }
}

@mixin size-large {
    @media (min-width: #{$media-width-medium}) and (max-width: #{$media-width-large - 1px}) {
        @content;
    }
}

@mixin size-huge {
    @media (min-width: #{$media-width-large}) {
        @content;
    }
}