$clr-highlight-100: hsl(248, 50, 95%);
$clr-highlight-300: hsl(248, 50, 75%);
$clr-highlight-500: hsl(248, 50, 55%);
$clr-highlight-700: hsl(248, 50, 35%);
$clr-highlight-900: hsl(248, 50, 15%);

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $clr-highlight-500;
    margin: 0;
}