#page-header {
	float: right;
	max-width: 300px;
	margin: 10px;
}
#page-content {
	max-width: 80%;
}
#page-footer {
	margin-top: 100px;
	padding: 50px 0px;
	color: #FFFFFF;
	background-color: #313439;
}

.panel-profile {
	margin-top: 20px;
}
.panel-profile .row {
	margin: 0px;
}
.text-profile-container {
	display: flex;
	height: 100%;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	float: none;
}
.text-profile {
	text-align: center;
	vertical-align: middle;
	float: none;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}
.text-profile > h1 {
	margin: 0px;
}
.img-profile {
	display: table;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 5px;
	overflow: hidden;
	position: relative;
	float: left;
}

.image-box-left {
	max-width: 200px;
	display: inline;
	float: left !important;
	margin-right: 20px;
}
.image-box-right {
	max-width: 200px;
	display: inline;
	float: right !important;
	margin-left: 20px;
}

/* Social */

.social {
	display: block;
	width: 32px;
	height: 32px;
	background-color: #808080;
	background-image: url("../images/social.png");
	background-repeat: no-repeat;
	border-radius: 16px;
	background-clip: padding-box;
}

a.social-twitter {
	background-position: -32px 0;
}
a.social-twitter:hover {
	background-color: #5ec3df;
}

a.social-google {
	background-position: -256px 0;
}
a.social-google:hover {
	background-color: #c63d2d;
}

a.social-linkedin {
	background-position: -192px 0;
}
a.social-linkedin:hover {
	background-color: #2089b5;
}

a.social-skype {
	background-position: -320px 0;
}
a.social-skype:hover {
	background-color: #00aff0;
}

/* Badges */

.badge-xbox-one {
	background-color: #137D10;
}
.badge-playstation-4 {
	background-color: #063279;
}
.badge-steam {
	background-color: #000000;
}