#page-header {
	float: right;
	max-width: 300px;
	margin: 10px;
}
#page-content {
	max-width: 80%;
}
#page-footer {
	margin-top: 100px;
	padding: 50px 0px;
	color: #FFFFFF;
	background-color: #313439;
}

.image-box-left {
	max-width: 200px;
	display: inline;
	float: left !important;
	margin-right: 20px;
}
.image-box-right {
	max-width: 200px;
	display: inline;
	float: right !important;
	margin-left: 20px;
}

/* Badges */

.badge-xbox-one {
	background-color: #137D10;
}
.badge-playstation-4 {
	background-color: #063279;
}
.badge-steam {
	background-color: #000000;
}