.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "text  header";

    .header {
        grid-area: header;
    }

    .text {
        grid-area: text;
    }
}