.about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "header"
        "text  ";
    grid-row-gap: $body-gap;
    padding: 0 6vw;

    .header {
        grid-area: header;
    }

    .text {
        grid-area: text;
    }
}

@include size-huge {
    .about-me {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "text  header";
        padding: 0;
    }
}