.at-a-glance {
    display: grid;
    grid-template-areas: 
        "table    table      table"
        ".        download   .    ";
    grid-row-gap: 12px;
    padding: 12px;
    margin: 0 12vw;
    border: 2px solid $clr-highlight-500;

    table {
        grid-area: table;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        font-size: $text-size-m;

        tr {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-column-gap: 24px;
            align-content: center;
            height: 32px;

            > td:first-child {
                display: flex;
                justify-content: flex-end;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .download {
        grid-area: download;
    }
}

@include size-small {
    .at-a-glance {
        margin: 0;

        table {
            font-size: $text-size-s;
        }
    }
}

@include size-medium {
    .at-a-glance {
        margin: 0 6vw;
    }
}

@include size-large {
    .at-a-glance {
        margin: 0 6vw;
    }
}