.download {
    background: $clr-highlight-500;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 12px;
    border: none;

    &:hover {
        text-decoration: none;
        background: $clr-highlight-300;
        color: white;
    }
}