.download {
    @include text-header('M');
    background: $clr-highlight-500;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    border: none;

    &:hover {
        text-decoration: none;
        background: $clr-highlight-300;
        color: white;
    }
}

@include size-small {
    .download {
        @include text-size('S');
    }
}