header {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "face  intro";
    grid-column-gap: 24px;
    align-content: center;
    background: $clr-highlight-500;
    color: white;
    min-height: 240px;
    padding: 12px 24vw;

    .img-profile {
        grid-area: face;
    }

    .intro {
        grid-area: intro;
        font-size: $text-size-xl;

        // undoing bootstrap!
        p {
            margin: 0;
            line-height: initial;
        }

        .bold {
            font-weight: bold;
        }
    }
}

@include size-small {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        grid-template-areas: 
            "face  "
            "intro ";
        grid-row-gap: 24px;
        justify-items: center;
        min-height: auto;
        padding: 12px 0;

        .intro {
            font-size: $text-size-l;
        }
    }
}

@include size-medium {
    header {
        min-height: auto;
        padding: 12px 12vw;

        .intro {
            font-size: $text-size-l;
        }
    }
}