.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px 12px;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    padding: 0 12vw;
    margin: 0;

    > .project-list__item {
        position: relative;
        overflow: hidden;
        height: 0;
        background: url('../media/previews/got.jpg') center no-repeat;
        padding-top: 315px / 560px * 100%;
        border-radius: 4px;
        background-size: 100%;
        transition: background-size 0.4s;
        

        a {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;

            &:hover {
                background-color: rgba($clr-highlight-100, 0.2);
                text-decoration: none;
            }
        }

        h2 {
            width: 100%;
            text-transform: uppercase;
            font-size: $text-size-m;
            letter-spacing: 0.1em;
            background: linear-gradient(90deg, #000000 0%, #000000 100%);
            color: white;
            padding: 12px;
            margin: 0;
        }

        &:hover {
            background-size: 120%;
        }
    }
}

@include size-small {
    .project-list {
        padding: 0 12px;

        > .project-list__item {
            h2 {
                font-size: $text-size-s;
            }
        }
    }
}

@include size-medium {
    .project-list {
        grid-template-columns: 1fr;
        padding: 0 6vw;
    }
}