section {
    display: grid;
    grid-template-columns: 25vw 1fr 25vw;

    > * {
        grid-column: 2;
    }
}

@include size-medium {
    section {
        grid-template-columns: 1fr;
        padding: 12px;
    }
}