.o-header {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "face  breadcrumbs "
        "face  title       ";
    grid-column-gap: 24px;
    align-items: center;
    background: $clr-highlight-500;
    color: white;
    padding: 12px 24vw;

    &.-main {
        min-height: 240px;
    }

    &.-project {
        padding-left: 12vw;
        padding-right: 12vw;
    }

    &__headshot {
        grid-area: face;
    }

    &__breadcrumbs {
        grid-area: breadcrumbs;
    }

    &__intro {
        @include text-sans-serif('XL');
        grid-area: title;

        // undoing bootstrap!
        p {
            margin: 0;
            line-height: initial;
        }

        .bold {
            font-weight: bold;
        }
    }
}

@include size-small {
    .o-header {
        &.-main {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr min-content;
            grid-template-areas: 
                "face  "
                "title ";
            grid-row-gap: 24px;
            justify-items: center;
            min-height: auto;
            padding: 12px 0;
        }
    
        &__intro {
            @include text-size('L');
        }
    }
}

@include size-medium {
    .o-header {
        &.-main {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr min-content;
            grid-template-areas: 
                "face  "
                "title ";
            grid-row-gap: 24px;
            justify-items: center;
            min-height: auto;
            padding: 12px 0;
    
        }

        &__intro {
            @include text-size('L');
        }
    }
}

@include size-large {
    .o-header {
        &.-main {
            min-height: auto;
            padding: 12px 24vw;

            &__intro {
                font-size: 28px; // HACK!
            }
        }
    }
}