.o-projectIntro {
    &__properties {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 12px;
    }
}

@include size-small {
    .o-projectIntro {
        @include text-size('S');

        &__properties {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, min-content);
            grid-row-gap: 12px;
        }
    }
}