<footer class="m-footer">
	<h1 class="m-footer__header">Let's build something amazing together</h1>
	<p class="m-footer__text">Feel free to reach out to me if you have a question or just want to connect.</p>
	<ul class="social-list">
		<li class="social-list__item">
			<a href="mailto:quintenlansu@gmail.com" class="a-email">quintenlansu@gmail.com</a>
		</li>
		<li class="social-list__item">
			<a class="social social--linkedin" href="http://www.linkedin.com/profile/view?id=46334816" target="_blank"></a>
		</li>
		<li class="social-list__item">
			<a class="social social--twitter" href="https://twitter.com/knight666" target="_blank"></a>
		</li>
	</ul>
</footer>