<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- @if SUBTITLE!='' -->
<title>Quinten's portfolio - <!-- @echo SUBTITLE --></title>
<!-- @endif -->
<!-- @if SUBTITLE='' -->
<title>Quinten's portfolio</title>
<!-- @endif -->

<link rel="icon" type="image/x-icon" href="<!-- @echo RELATIVE_PATH -->media/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="<!-- @echo RELATIVE_PATH -->css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="<!-- @echo RELATIVE_PATH -->css/portfolio.css" />