<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- @if SUBTITLE!='' -->
<title><!-- @echo SUBTITLE --> | Quinten Lansu</title>
<!-- @endif -->
<!-- @if SUBTITLE='' -->
<title>HOME | Quinten Lansu</title>
<!-- @endif -->

<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

<link rel="icon" type="image/x-icon" href="<!-- @echo RELATIVE_PATH -->media/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="<!-- @echo RELATIVE_PATH -->css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="<!-- @echo RELATIVE_PATH -->css/portfolio.css" />

<script type="text/javascript" src="<!-- @echo RELATIVE_PATH -->js/portfolio.js"></script>