<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<header class="m-header o-homeHeader">
		<div class="a-headshot m-header__headshot"></div>
		<div class="m-header__intro">
			<p class="a-headerText">Hello there!</p>
			<p class="a-headerText">My name is <span class="a-headerText__bold">Quinten Lansu</span></p>
			<p class="a-headerText">and I build <span class="a-headerText__bold">user interfaces</span></p>
		</div>
	</header>
	<section class="m-section">
		<p class="m-section__centered">I'm an experienced front-end developer working in the AAA games industry.</p>
		<p class="m-section__centered">I have shipped multiple AAA video game projects with teams spread all across the globe. I have worked with all kinds of UI frameworks and have even built a few of them myself over the years.</p>
		<p class="m-section__centered">What excites me about front-end development is seeing results quickly and being able to bring creative visions to life. I love working with user experience designers to figure out how to optimize an interaction flow equally as much as I love figuring out an optimal way to grab data from a backend.</p>
		<p class="m-section__centered">And although I mainly work in C++, I built <a href="https://github.com/knight666/portfolio">this portfolio</a> myself using nothing but HTML and CSS best practices.</p>
	</section>
	<h1>At a glance</h1>
	<section class="m-section o-glance">
		<table class="m-glanceTable o-glance__table">
			<tbody>
				<tr>
					<td>Name</td>
					<td>Quinten Lansu</td>
				</tr>
				<tr>
					<td>DOB</td>
					<td>1989-06-30</td>
				</tr>
				<tr>
					<td>Nationality</td>
					<td>Dutch</td>
				</tr>
				<tr>
					<td>Location</td>
					<td>Deventer, The Netherlands</td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>+316 12 77 84 44</td>
				</tr>
				<tr>
					<td>E-Mail</td>
					<td>quintenlansu@gmail.com</td>
				</tr>
			</tbody>
		</table>
		<a href="media/CV_Quinten_Lansu_2024.pdf" class="a-button o-glance__download">
			Download my CV
		</a>
	</section>
	<h1>Projects</h1>
	<ul class="o-projects">
		<!-- @echo PROJECT_LIST -->
	</ul>
	<section class="m-section -title">
		<h1 class="m-section__header">About me</h1>
			<div class="m-section__text">
				<p>I started my career in game development with Game Maker, all the way back in 2002. I shipped my first game in 2004, when I was just 14 years old. It wasn't exactly a commercial success though, since I released the game for free on the Internet.</p>
				<p>After studying International Game Architecture and Design at NHTV University for Applied Sciences, I joined the ranks of Nixxes Software in 2013, where I worked on the user interface for games like <a href="projects/deus-ex-mankind-divided.html">Deus Ex: Mankind Divided</a> and <a href="projects/rise-of-the-tomb-raider.html">Rise of the Tomb Raider</a>.</p>
				<p>However, I felt like a big fish in a small pond after a while. I moved to Berlin to seek out new opportunities, which I found in the free-to-play game <a href="projects/game-of-thrones-seven-kingdoms.html">Game of Thrones: Seven Kingdoms</a>.</p>
				<p>I've realized that what I enjoy most about working on user interfaces is getting feedback directly from players and/or users. Working on computer graphics is nice, but I'd rather leave the math to the experts.</p>
				<p>I also love to work closely with artists and designers. I approach my role as a facilitator: I help them figure out what is possible and work to breathe life into their designs and sketches. And I'm always eager to learn more about how they approach tricky design requirements.</p>
				<p>Even though I do most of my work in C++ or C#, I’m not afraid to get my hands dirty with Python, Javascript or visual scripting either. I built this portfolio from scratch myself in vanilla Javascript, if you can believe it.</p>
			</div>
		</article>
	</section>

	<!-- @include footer.html -->
</body>
</html>