<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<header>
		<div class="img-profile">
			<img src="media/images/profile.jpg" alt="Quinten in Berlin, 2015" />
		</div>
		<div class="intro">
			<p>Hello there!</p>
			<p>My name is <span class="bold">Quinten Lansu</span></p>
			<p>and I build <span class="bold">user interfaces</span></p>
		</div>
	</header>
	<section>
		<article class="about-me">
			<div class="header">
				<h1>About me</h1>
			</div>
			<div class="text">
				<p>I’m an accomplished front-end programmer with more than 7 years of experience in video game development,  credited on 5 AAA video game titles.</p>
				<p>One of my greatest passions is building UI that bring joys to its users. I love to work closely with artists and designers to breathe life into their designs and sketches!</p>
				<p>Even though I mostly work in C++ or C#, I’m not afraid to get my hands dirty with Python, Javascript or visual scripting either.</p>
			</div>
		</article>
	</section>
	<h1>At a glance</h1>
	<section>
		<article class="at-a-glance">
			<table>
				<tbody>
					<tr>
						<td>Name</td>
						<td>Quinten Lansu</td>
					</tr>
					<tr>
						<td>DOB</td>
						<td>1989-06-30</td>
					</tr>
					<tr>
						<td>Location</td>
						<td>Berlin, Germany</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>+49 174 16 70 395</td>
					</tr>
					<tr>
						<td>E-Mail</td>
						<td>quintenlansu@gmail.com</td>
					</tr>
				</tbody>
			</table>
			<button class="download">
				Download my CV
			</button>
		</article>
	</section>
	<h1>Projects</h1>
	<section>
		<!-- @echo PROJECT_LIST -->
	</section>
	<div class="container">
		<ul class="pager">
			<li class="previous">
				<a href="projects-by-date.html">More projects <span aria-hidden="true">&rarr;</span></a>
			</li>
		</ul>
	</div>

	<!-- @include footer.html -->
</body>
</html>