<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<div class="container">
		<div class="panel panel-default panel-profile">
			<div class="row">
				<div class="text-profile-container">
					<div class="img-profile">
						<img src="media/images/profile.jpg" alt="Quinten in Berlin, 2015" />
					</div>
					<div class="text-profile">
						<h1>Hello there!</h1>
						<p>Welcome to my portfolio!</p>
					</div>
				</div>
			</div>
		</div>

		<h2>About me</h2>
		<p>My name is Quinten Lansu and I'm a 26-year old programmer, living and working in the Netherlands. I've always been interested in games and game development, which is why I studied <em>International Game Architecture and Design</em> at the NHTV in Breda, the Netherlands. I've been working as a professional game developer since 2013, when I joined the ranks of Nixxes Software in Utrecht.</p>

		<h2>My projects</h2>
		<!-- @echo PROJECT_LIST -->
	</div>

	<!-- @include footer.html -->
</body>
</html>