<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<header class="o-header -project">
		<div class="a-headshot -small o-header__headshot"></div>
		<ul class="o-breadcrumbs o-header__breadcrumbs">
			<li><a class="a-breadcrumb" href="index.html">Portfolio</a></li>
			<li>/</li>
		</ul>
		<div class="o-header__intro">Projects</div>
	</header>
	
	<ul class="o-projects">
		<!-- @echo PROJECT_LIST -->
	</ul>

	<!-- @include footer.html -->
</body>
</html>