<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Portfolio - <!-- @echo ORDER_TITLE --></title>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="css/portfolio.css" >
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="index.html">Portfolio</a></li>
		<li>Projects</li>
	</ul>

	<div class="container">
<!-- @echo NAVIGATION -->

		<table class="table ordering-info-container">
			<tr>
				<td colspan="2">
					<h3>Nixxes Software BV</h3>
				</td>
			</tr>
			<tr>
				<td>
					Title
				</td>
				<td>
					Systems Programmer
				</td>
			</tr>
			<tr>
				<td>
					Location
				</td>
				<td>
					Utrecht, the Netherlands
				</td>
			</tr>
			<tr>
				<td>
					Employed since
				</td>
				<td>
					August, 2013
				</td>
			</tr>
		</table>

<!-- @echo PROJECT_LIST -->
	</div>

	<!-- @include footer.html -->

	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>