<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<header class="m-header">
		<div class="a-headshot -small m-header__headshot"></div>
		<ul class="m-breadcrumbs m-header__breadcrumbs">
			<li class="m-breadcrumbs__item"><a class="a-breadcrumb" href="index.html">Home</a></li>
			<li class="m-breadcrumbs__item">/</li>
		</ul>
		<p class="a-headerText m-header__intro">Projects</p>
	</header>
	
	<ul class="o-projects">
		<!-- @echo PROJECT_LIST -->
	</ul>

	<!-- @include footer.html -->
</body>
</html>