<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Portfolio - Projects</title>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="css/portfolio.css" >
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="index.html">Portfolio</a></li>
		<li>Projects</li>
	</ul>

	<div class="container">
		<h2>Projects</h2>
		<ul class="list-group">
			<!-- @echo PROJECT_LIST -->
		</ul>
	</div>

	<!-- @include footer.html -->

	<!-- Bootstrap -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>