<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<header class="o-header -project">
		<div class="a-headshot -small o-header__headshot"></div>
		<ul class="o-breadcrumbs o-header__breadcrumbs">
			<li><a class="a-breadcrumb" href="../index.html">Portfolio</a></li>
			<li>/</li>
			<li><a class="a-breadcrumb" href="../projects-by-date.html">Projects</a></li>
			<li>/</li>
		</ul>
		<div class="o-header__intro"><!-- @echo PAGE_TITLE --></div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-primary project-brief">
					<div class="panel-body">
						<!-- @echo PAGE_DESCRIPTION -->
						<table class="table table-striped">
							<!-- @ifdef PAGE_BRIEF_RELEASED -->
							<tr>
								<td>Released</td>
								<td><!-- @echo PAGE_BRIEF_RELEASED --></td>
							</tr>
							<!-- @endif -->
							<!-- @ifdef PAGE_BRIEF_EMPLOYER -->
							<tr>
								<td>Employer</td>
								<td><!-- @echo PAGE_BRIEF_EMPLOYER --></td>
							</tr>
							<!-- @endif -->
							<!-- @ifdef PAGE_BRIEF_PLATFORMS -->
							<tr>
								<td>Platforms</td>
								<td><!-- @echo PAGE_BRIEF_PLATFORMS --></td>
							</tr>
							<!-- @endif -->
							<!-- @ifdef PAGE_BRIEF_TECHNOLOGIES -->
							<tr>
								<td>Technologies</td>
								<td><!-- @echo PAGE_BRIEF_TECHNOLOGIES --></td>
							</tr>
							<!-- @endif -->
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="project-content">
					<!-- @ifdef PAGE_TRAILER -->
					<div id="#project-trailer" class="embed-responsive embed-responsive-16by9 project-video-load-container">
						<div class="project-video-play-container">
							<!-- @echo PAGE_TRAILER -->
						</div>
					</div>
					<!-- @endif -->
					<!-- @echo PAGE_CONTENT -->
				</div>
			</div>
		</div>
	</div>

	<!-- @include footer.html -->
</body>
</html>