<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- @include header.html -->
</head>
<body>
	<header class="o-header -project">
		<div class="a-headshot -small o-header__headshot"></div>
		<ul class="m-breadcrumbs o-header__breadcrumbs">
			<li class="m-breadcrumbs__item"><a class="a-breadcrumb" href="../index.html">Portfolio</a></li>
			<li class="m-breadcrumbs__item">/</li>
			<li class="m-breadcrumbs__item"><a class="a-breadcrumb" href="../projects-by-date.html">Projects</a></li>
			<li class="m-breadcrumbs__item">/</li>
		</ul>
		<div class="o-header__intro"><!-- @echo PAGE_TITLE --></div>
	</header>

	<section class="m-section o-projectIntro">
		<p class="a-paragraph">
			<!-- @echo PAGE_DESCRIPTION -->
		</p>
		<div class="o-projectIntro__properties">
			<div class="m-projectProperties">
				<h2 class="m-projectProperties__header">Type</h2>
				<ul class="a-propertyList">
					<li class="a-propertyList__item"><!-- @echo PAGE_BRIEF_TYPE --></li>
				</ul>
			</div>
			<div class="m-projectProperties">
				<h2 class="m-projectProperties__header">Role</h2>
				<ul class="a-propertyList">
					<li class="a-propertyList__item"><!-- @echo PAGE_BRIEF_ROLE --></li>
				</ul>
			</div>
			<div class="m-projectProperties">
				<h2 class="m-projectProperties__header">Stack</h2>
				<ul class="a-propertyList">
					<!-- @foreach $TECH in PAGE_BRIEF_STACK -->
					<li class="a-propertyList__item">$TECH</li>
					<!-- @endfor -->
				</ul>
			</div>
		</div>
	</section>

	<!-- @ifdef PAGE_TRAILER -->
	<section class="m-section o-projectTrailer">
		<div id="#project-trailer" class="embed-responsive embed-responsive-16by9 project-video-load-container">
			<div class="project-video-play-container">
				<!-- @echo PAGE_TRAILER -->
			</div>
		</div>
	</section>
	<!-- @endif -->

	<section class="m-section">
		<div class="project-content">
			<!-- @echo PAGE_CONTENT -->
		</div>
	</section>

	<!-- @include footer.html -->
</body>
</html>