<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Portfolio - <!-- @echo PAGE_TITLE --></title>
	
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="../css/portfolio.css" >

	<script language="javascript">
		window.onload = function() {
			var targets = document.getElementsByName("project-video");
			for (var i = 0; i < targets.length; ++i)
			{
				var target = targets[i];
				var parent = target.parentElement;

				var link = target.getAttribute("video");

				if (link.indexOf('yt://', 0) === 0)
				{
					target.onclick = function() {
						var video = document.createElement("iframe");
						video.class = "embed-responsive-item";
						video.src = "https://www.youtube.com/embed/" + link.substring('yt://'.length) + "?rel=0&vq=highres&autoplay=1";
						video.allowfullscreen = "";

						parent.removeChild(target);
						parent.appendChild(video);
					}
				}
			}
		}
	</script>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="../index.html">Portfolio</a></li>
		<li><a href="../projects-by-date.html">Projects</a></li>
		<li><!-- @echo PAGE_TITLE --></li>
	</ul>

	<div class="container">
		<div class="page-header">
			<h1><!-- @echo PAGE_TITLE --></h1>
		</div>

		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-primary project-brief">
					<div class="panel-body">
						<!-- @echo PAGE_DESCRIPTION -->
						<table class="table table-striped">
							<!-- @ifdef PAGE_BRIEF_RELEASED -->
							<tr>
								<td>Released</td>
								<td><!-- @echo PAGE_BRIEF_RELEASED --></td>
							</tr>
							<!-- @endif -->
							<!-- @ifdef PAGE_BRIEF_EMPLOYER -->
							<tr>
								<td>Employer</td>
								<td><!-- @echo PAGE_BRIEF_EMPLOYER --></td>
							</tr>
							<!-- @endif -->
							<!-- @ifdef PAGE_BRIEF_PLATFORMS -->
							<tr>
								<td>Platforms</td>
								<td><!-- @echo PAGE_BRIEF_PLATFORMS --></td>
							</tr>
							<!-- @endif -->
							<!-- @ifdef PAGE_BRIEF_TECHNOLOGIES -->
							<tr>
								<td>Technologies</td>
								<td><!-- @echo PAGE_BRIEF_TECHNOLOGIES --></td>
							</tr>
							<!-- @endif -->
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="project-content"><!-- @echo PAGE_CONTENT --></div>
			</div>
		</div>
	</div>

	<!-- @include footer.html -->

	<!-- Bootstrap -->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>