@use "sass:map";

$text-sizes: (
    "XS": 12px,
    "S": 14px,
    "M": 18px,
    "L": 24px,
    "XL": 32px
);

@mixin text-size($size) {
    font-size: map-get($text-sizes, $size);
}

@mixin text-paragraph($size) {
    font-family: 'PT Serif', serif;
    @include text-size($size);
}

@mixin text-sans-serif($size) {
    font-family: 'PT Sans', sans-serif;
    @include text-size($size);
}

@mixin text-header($size) {
    @include text-sans-serif($size);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}