.m-footer {
    display: grid;
    grid-row-gap: 24px;
    background: $clr-highlight-500;
    color: $clr-highlight-100;
    padding: 24px;

    &__header {
        @include text-sans-serif('L');
        font-weight: bold;
        text-align: left;
        color: $clr-highlight-100;
    }

    &__text {
        color: white;
        margin: 0;
    }
}