.m-glanceTable {
    @include text-size('M');
    width: 100%;
    background: transparent;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 24px;
        align-content: center;
        height: 32px;

        > td:first-child {
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

@include size-small {
    .m-glanceTable {
        @include text-size('S');
    }
}