.m-header {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "face  breadcrumbs "
        "face  intro       ";
    grid-column-gap: 24px;
    align-items: center;
    background: $clr-highlight-500;
    color: white;
    padding: 12px 12vw;

    &__headshot {
        grid-area: face;
    }

    &__breadcrumbs {
        grid-area: breadcrumbs;
    }

    &__intro {
        grid-area: intro;
    }
}

@include size-small {
    .m-header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        grid-template-areas: 
            "face         "
            "breadcrumbs  "
            "intro        ";
        grid-row-gap: 12px;
        justify-items: center;
        padding: 12px;
    }
}